:root {
  --color-blue: #007bff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-z-black: #1d1d1d;
  --color-grey: #efefef;
  --color-orange: #ff7143;
  --color-pink: #ff005a;
  --color-red: red;
  --color-green: green;
  --font-size-12 : 12px;
  --font-size-14 : 14px;
  --font-size-16 : 16px;
  --font-size-18 : 18px;
  --font-size-20 : 20px;
}
