@import "../../styles/theme";

.tagging-page {
  .page-header {
    background-color: var(--color-white);
    padding: 15px;
    margin-bottom: 15px;

    h1 {
      display: inline-block;
      font-size: var(--font-size-14);
      margin: 0;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .page-body {
    background-color: var(--color-white);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    .category-list {
      width: 185px;
      margin-right:30px;
      list-style: none;
      padding-inline-start: 0;
      li {
        cursor: pointer;
        padding: 10px 0px;
        font-size: var(--font-size-12);
        margin-bottom: 1px;
        text-transform: capitalize;
        padding: 10px 15px;
      }
      .active {
        padding: 10px 15px;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 2px;
        position: relative;
        .right-arrow {
          width: 0px;
          border-width: 11px;
          border-color: transparent transparent transparent var(--color-blue);
          border-style: solid;
          right: -22px;
          position: absolute;
          top: 9px;
        }
      }
      p {
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
      }
    }
    .blogs-list {
      margin: 0;
      list-style: none;
      padding-inline-start: 0;
      width: calc(100% - 200px);
      li {
        background-color: var(--color-white);
        padding: 10px 52px;
        font-size: var(--font-size-12);
        border-bottom: 1px solid var(--color-grey);
        border-right: 1px solid var(--color-grey);
        border-left: 1px solid var(--color-grey);
        position: relative;
        .tag-status {
          position: absolute;
          top:0;
          width: 38px;
          left: 0;
          font-size: 25px;
          font-weight: 100;
          cursor: pointer;
          bottom: 0;
          border-right: 1px solid var(--color-grey);
          color: var(--color-black);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      li:hover {
        background-color: var(--color-grey);
        // color: var(--color-white)
      }
      p {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-grey);
      }
    }
  }
}
