@import "../../styles/theme";

.header {
  background-color: var(--color-white);
  height: 55px;
  position: fixed;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--color-grey);

  .logo {
    padding: 10px 15px;
    width: 250px;
    text-align: center;
    img {
      height: 35px;
      width: auto;
    }
  }

  .toggle {
    width: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 16px;
      margin-bottom:3px;
    }
    font-size: 12px;
    // padding: 9px 15px;
    border-left: 1px solid var(--color-grey);
  }

  .menu {
    border-left: 1px solid var(--color-grey);
    width: calc(100vw - 250px - 54px);
    text-align: right;
    ul {
      display: flex;
      justify-content: flex-end;
      padding-inline-start: 0px;
      list-style: none;
      margin: 0;
      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        i {
          font-size: 16px;
          margin-bottom:3px;
        }
        font-size: 12px;
        padding: 9px 15px;
        border-left: 1px solid var(--color-grey);
      }
      li:hover{
        cursor: pointer;
        background-color: var(--color-grey);
      }
    }
  }
}
