@import "../../styles/theme";

.notfound-page {
  background: var(--color-grey);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  .logo {
    margin-bottom: 30px;
    img {
      width: 150px;
      height: auto;
    }
  }

  .box {
    text-align: center;
    padding: 30px 15px;
    // background-color: var(--color-white);
    margin-bottom: 30px;
  }

  h2 {
    // font-family: "chiller", sans-serif;
    font-weight: bold;
    font-size: 70px;
  }
  p {
    font-size: var(--font-size-12);
  }
}

.logged-in {
  width: calc(100vw - 250px - 30px);
  min-height: calc(100vh - 55px - 55px - 30px);
}
