@import "../../../styles/theme";

.multi-select-tag {
  .tags {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    padding-top: 4px;
    .tag {
      font-size: var(--font-size-12);
      background-color: var(--color-grey);
      width: auto;
      padding: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 2px;
      cursor: pointer;
    }
    .active {
      color: var(--color-white);
      background-color: var(--color-blue);
    }
  }
}
